stages:
    - test
    - allure

variables:
    GIT_DEPTH: 1

default:
    before_script:
        - 'set'

test_stage_vdi:
    stage: test
    tags: [winpython]
    only:
       refs:
          - vdi
    variables:
        SECURE_FILES_DOWNLOAD_PATH: './/'
    script:
        - mkdir allure-results
        - set PYTHONIOENCODING=utf-8
        - '"%ProgramFiles%\Python312\python.exe" -m venv ..\..\.venv'
        - '..\..\.venv\Scripts\python -m pip install --upgrade pip'
        - '..\..\.venv\Scripts\pip install -r requirements.txt'
        - '..\..\.venv\Scripts\python -m playwright install --with-deps'
        - '..\..\.venv\Scripts\pip list'
        - dir
        # echo "executor.json"
        - echo {"name":"GitLabCI","type":"gitlab","reportName":"Allure Report with history", > "allure-results\executor.json"
        - echo "reportUrl":"http://10.78.27.179/allure-vdi-web-e2e-archive/%CI_PIPELINE_ID%/", >> "allure-results\executor.json"
        - echo "buildUrl":"%CI_PIPELINE_URL%", >> "allure-results\executor.json"
        - echo "buildName":"GitLab vStack test Run %CI_PIPELINE_ID%","buildOrder":"%CI_JOB_ID%"} >> "allure-results\executor.json"
        # echo "environment.properties"
        - echo allure.home.page=http://10.78.27.179/allure-vdi-web-e2e >> "allure-results\environment.properties"
        - echo allure.ci.source=%CI_PIPELINE_SOURCE% >> "allure-results\environment.properties"
        - '..\..\.venv\Scripts\pytest -s -v --numprocesses=4 --alluredir=allure-results'
        - 'dir allure-results'
    artifacts:
        when: always
        expire_in: 12 hours
        paths:
          - 'allure-results\*'

deploy_allure_vdi:
    stage: allure
    tags: [allure]
    when: always
    only:
        refs:
            - vdi
    script:
        - export DATE_Y="$(date +%Y)"
        - export DATE_M="$(date +%m)"
        - export ALLURE_NO_ANALYTICS=1
        - ls -lah allure-results/
        - pwd
        - dos2unix allure-results/environment.properties
        - dos2unix allure-results/executor.json
        - mkdir -p /usr/local/www/allure-vdi-web-e2e-archive/"${DATE_Y}"/"${DATE_M}"
        - cp -r /usr/local/www/allure-vdi-web-e2e/history allure-results/ 2>/dev/null || echo "No existing history found"
        - /home/allure/allure-2.23.0/bin/allure generate allure-results/ -c --report-dir /usr/local/www/allure-vdi-web-e2e/
        - cp -r /usr/local/www/allure-vdi-web-e2e /usr/local/www/allure-vdi-web-e2e-archive/"${DATE_Y}"/"${DATE_M}"/"${CI_PIPELINE_ID}"
        - rm -rf allure-results
    needs:
        - test_stage_vdi

send_email_report:
    stage: allure
    tags: [allure]
    needs:
        - job: deploy_allure_vdi
          artifacts: false
    when: on_success
    script:
        - export DATE_Y="$(date +%Y)"
        - export DATE_M="$(date +%m)"
        - python ./scripts/send_allure_email.py "${DATE_Y}" "${DATE_M}" "${CI_PIPELINE_ID}"
